

/* Custom properties for colors */
html {
  --black: #14190b;
  --gray: #6f6a64;
  --silver: #d1d0d6;
  --green: #4c5b16;
  --tan: #dad1c2;
}

p, a, button {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abhaya Libre', serif;
}
