# ----
# Site

title: WaniKani Knowledge
url: "https://knowledge.wanikani.com/"
baseurl:
google_analytics_key: UA-1960021-27
disqus_shortname:
newsletter_action:
company_name: Tofugu LLC

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: What is WaniKani? How do I do this and that? What is life? Find the answers here.
author:
  name: WaniKani
  email: hello@wanikani.com
  twitter: wanikaniapp # twitter username without the @ symbol
social:
  name: WaniKani
  links:
    - https://knowledge.wanikani.com
    - https://github.com/tofugu/wanikani-knowledgebase

# -----
# Build

timezone: Etc/UTC

permalink: /:categories/:title/

plugins:
  - jekyll-extract-element
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-archives

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  sets:


jekyll-archives:
  enabled: ['categories']

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      type: "posts"
    values:
      layout: "post"
      comments: true
  -
    scope:
      type: "sets"
    values:
      _hide_content: true
  -
    scope:
      path: "index.html"
    values:
      body_class: "show_hero_search"

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - Email
  - RSS

types:
  - Document
  - Video

_comments:

include:
  - _redirects
