---
faq:
  - question: Cloud365 là gì?
    answer: Là tên sản phẩm cloud được xây dựng bởi công ty Nhân Hòa. Cloud365 là hệ sinh thái các dịch vụ cloud, tập trung vào dịch vụ hạ tầng được xây dựng theo các đặc điểm của cloud computing. Các sản phẩm tiêu biểu bao gồm Cloud Server, Virtual Private Cloud, Cloud Application, Email Cloud, Cloud Backup, Cloud Storage, Cloud Call, và rất nhiều dịch vụ khác.
  - question: Đối tượng của cloud365 là ai?
    answer: Các dịch vụ mà cloud365 cung cấp dành cho nhiều đối tượng như khác nhau với các mức chi phí phù hợp, các đối tượng bao gồm Lập trình viên, quản trị hệ thống, người dùng thông thường, các doanh nghiệp vừa và nhỏ, sinh viên, các tổ chức khác.
  - question: Cloud365 có gì đặc biệt?
    answer: Sản phẩm được xây dựng dựa trên các nền tảng nguồn mở OpenStack, CEPH. Đây là sản phẩm được tin dùng bởi hàng trăm công cy hàng đầu trên thế giới về công nghệ thông tin. Cloud365 được xây dựng và định hướng là một hệ sinh thái về cloud và đầy đủ các sản phẩm phụ vụ được nhiều đối tượng nhất tại Việt Nam.
  - question: Cách thức sử dụng dịch vụ của cloud365?
    answer: Cloud365 được xây dựng theo các tiêu chí của cloud computing và có thể dễ dàng đăng ký để sử dụng đối với nhiều đối tượng khác nhau. Khách hàng có thể chủ động đăng ký sử dụng theo nhu cầu hoặc liên hệ với bộ phận hỗ trợ theo hotline 19006680 để được trợ giúp.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
