---
---

{% assign getting_started_set = site.sets | where: "path", "_sets/getting-started.md" | first %}
{% assign getting_started_set_posts = site.posts | where: "set", "getting-started" %}

<div class="banner banner--getting-started">
	<h2>
		First time user? Check out the <a href="/getting-started/how-wanikani-works/" title="Getting Started set">Onboarding Series</a> to get yourself up and running in no time
	</h2>
</div>

<section class="categories">
	{% assign categories_data = site.data.categories | sort: "order" %}
	{% for category_data in categories_data %}
		{% assign name = category_data['title'] %}
		{% assign slug = category_data['slug'] %}
		{% assign posts = site.categories[category_data['slug']] %}
		{% assign size = posts | size %}
		<section class="category">
				<h3>
					<a href="{{ site.baseurl }}/category/{{ slug | slugify }}/">{{ name | replace: "-", " " }}</a>
				</h3>

			<ul>
				{% assign tutorials = posts | sort: "title" %}
				{% for tutorial in tutorials limit: 5 %}
					<li><a href="{{ site.baseurl }}{{ tutorial.url }}">{% include document-icon.html icon=tutorial.type %}{{ tutorial.title }}</a></li>
				{% endfor %}
				{% if size > 5 %}
					<li><a href="{{ site.baseurl }}/category/{{ slug | slugify }}/">{{ size | minus: 5 }} more...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
</section>
