<nav class="nav1">
  <div class="nav-img">
    <img class="logo" src="/images/logo.png" alt="" >

    <i class="fas fa-bars" onclick="menuPopUp()"></i> <!-- for mobile menu -->
  </div>
  <div class="nav-menu" >

    <i class="fas fa-times" onclick="menuPopUp()"></i> <!-- for mobile menu -->
    <ul>
      <li><a class="editable" href="#">About</a><div class="nav-item-bar"></div></li>
      <li><a class="editable" href="#">Classes</a><div class="nav-item-bar"></div></li>
      <li><a class="editable" href="#">Calender</a><div class="nav-item-bar"></div></li>
      <li><a class="editable" href="#">Contact</a><div class="nav-item-bar"></div></li>
      <li><img src="/images/pyramid.svg" alt=""></li>
    </ul>

  <div class="social-bar">
    <div class="social-icon si-1"><i class="fab fa-facebook-f"></i></div>
    <div class="social-icon si-2"><i class="far fa-envelope"></i></div>
    <div class="social-icon si-3"><i class="fab fa-youtube"></i></div>
  </div>
</div>
</nav>
