.help {
  div.accordion {
    div.card {
      div.card-header {
        padding:0;
        cursor: pointer;
        transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out, box-shadow .3s ease-in-out;
        &:hover {
          background-color: rgba(0,0,0,.06);
        }
        button {
          padding: 1.2rem 1.75rem;
          font-size: 1.2em;
          color: #850916;
          white-space: normal;
          word-wrap: break-word;
          text-align: left;
          text-decoration: none;
          width: 100%;
          &:hover {
            text-decoration: none;
            color: #E72223;
          }
        }
      }
      div.collapse,
      div.collapsing {
        div.card-body {
          padding:1rem 0;
          div.help-item-row {
            min-height: 25px;
            a {
              padding: 1rem 2rem;
              display: block;
              width: 100%;
            }
            &:hover {
              background-color: RGBA(227, 196, 196, .2);
              color: #850916;
              a {
                text-decoration: none;
              }
            }
          }
        }
        &.collapse-item-last {
          div.card-body {
            border-bottom: solid 1px rgba(0, 0, 0, 0.125);
          }
        }
      }
    }
  }
}