/* =====================================
styling for side nav bar, styling at bottom for
responsive styling for mobile and smaller screens
====================================== */

.nav1 {
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;

  display: grid;
  grid-template-rows: auto 1fr 10px;

}


.nav1 .logo {
  display: block;
  width: 65%;
  height: auto;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}



.nav1 .fa-bars {
  display: none;
}

.nav1 .fa-times {
  display: none;
}

.nav1 .nav-menu {
  display: grid;
  grid-template-rows: 1fr auto;
}

.nav1 ul {
list-style: none;
padding: 0;
padding-top: 20px;
}

.nav1 li {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 15px 0px 15px 0px;

}

.nav1 .nav-item-bar {
  width: 0em;
  height: .2em;
  background-color: var(--green);
  text-align: center;
  transition: all ease-in-out .5s;
  margin-top: 2px;
}

.nav1 li:hover .nav-item-bar {
  width: 7em;
}

.nav1 li img {
  width: 35%;
  height: auto;
}



.nav1 a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.5em;
  font-family: font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.nav1 a:hover {
  color: var(--green);
}

/* =====================================
Social Icon Bar styling
====================================== */

 .social-bar {
   grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr auto 1fr auto 1fr auto 3fr;
  justify-items: center;
  align-items: center;
  padding: 1em;
}

 .social-icon {
  background-color: var(--silver);
  height: 3em;
  width: 3em;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  border: .5px solid var(--black);
  transition: all .2s linear;
}

.social-icon:hover {
  background-color: var(--green);
  border: .5px solid var(--green);
}

.social-icon i {
 color: var(--black);
 transition: all .2s linear;
}

.social-icon:hover i {
 color: white;
}

.si-1 {
  grid-column: 2 / 3;
}
.si-2 {
  grid-column: 4 / 5;
}
.si-3 {
  grid-column: 6 / 7;
}

/* =====================================
Beginning of smaller screen stylings.
====================================== */


@media only screen and (max-width: 950px) {
  .nav1 {
    width: 200px;
  }

  .nav1 a {
    font-size: 1.3em;
  }

  /* =====================================
  Mobile specific styling
  ====================================== */

  @media only screen and (max-width: 650px) {

    .nav1 {
      width: auto;
      height: auto;
      background-color: transparent;
      position: fixed;

      display: grid;
      grid-template-rows: 1fr;

    }

    .nav1 .nav-img {
      height: 80px;
      width: 100vw;
      background-color: white;
      display: grid;
      grid-template-columns: 10px auto 1fr auto 25px;
      justify-items: center;
      align-items: center;
    }


    .nav1 .logo {
      display: block;
      width: auto;
      height: 90%;
      padding: 0px;
      margin-right: auto;
      margin-left: auto;
      grid-column: 2 / 3;
    }

    .nav1 .fa-bars {
      display: inline-block;
      grid-column: 4 / 5;
      font-size: 2.5em;
    }

    /* =====================================
    styling of the pop up menu- pop up is
    controlled by a javascript function menuPopUp()
    ====================================== */

    .nav1 .nav-menu {
      width: 100vw;
      height: 100vh;
      background-color: white;
      z-index: 999;
      position: absolute;
      opacity: 0;
      display: none;
      grid-template-rows: auto auto 1fr;
      transition: all 1s ease-in-out;
    }

    .nav1 .fa-times {
      display: inline-block;
      font-size: 2em;
      color: var(--gray);
      grid-row: 1 / 2;
      justify-self: end;
      padding: 20px;
    }

    .nav1 ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    grid-row: 2 / 3;
    }

    .nav1 li {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      padding: 15px 0px 15px 0px;

    }

    .nav1 .nav-item-bar {
      width: 0em;
      height: .2em;
      background-color: var(--green);
      text-align: center;
      transition: all ease-in-out .5s;
      margin-top: 2px;
    }

    .nav1 li:hover .nav-item-bar {
      width: 7em;
    }

    .nav1 li img {
      width: 25%;
      height: auto;
    }



    .nav1 a {
      color: var(--black);
      text-decoration: none;
      font-size: 1.5em;
      font-family: font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: .15em;
    }

    .nav1 a:hover {
      color: var(--green);
    }

    /* =====================================
    Social Icon Bar styling
    ====================================== */

     .social-bar {
      grid-row: 3 / 4;
      display: grid;
      grid-template-columns: 3fr auto 1fr auto 1fr auto 3fr;
      justify-items: center;
      align-items: center;
      padding: 1em;
    }

     .social-icon {
      background-color: var(--silver);
      height: 3em;
      width: 3em;
      display: grid;
      justify-items: center;
      align-items: center;
      border-radius: 50%;
      border: .5px solid var(--black);
      transition: all .2s linear;
    }

    .social-icon:hover {
      background-color: var(--green);
      border: .5px solid var(--green);
    }

    .social-icon i {
     color: var(--black);
     transition: all .2s linear;
    }

    .social-icon:hover i {
     color: white;
    }

    .si-1 {
      grid-column: 2 / 3;
    }
    .si-2 {
      grid-column: 4 / 5;
    }
    .si-3 {
      grid-column: 6 / 7;
    }
  }
