// Breakpoints
$tablet: "(min-width: 960px)";
$mid-point: "(min-width: 960px)";
$desktop: "(min-width: 960px)";
$shrink-point: "(max-width: 960px)";
// Colors

$dark-grey: #222;
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #222222;

$link-color: #C58080;
$link-hover-color: #850916;