.banner {
  background-color: lighten(#ff00aa, 45%);
  margin-bottom: 3rem;
  padding: 2rem;
}

// _sass/tutorials.scss:129
.banner--getting-started {
  h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
