// _sass/header.scss:11
header {
  .top-bar {
    .logo {
      a {
        text-decoration: none;
      }
    }
  }
}

// _sass/search.scss:1
#search-results {
  li {
    margin-bottom: 4rem;
  }
}

// _sass/tutorials.scss:22
.category {
  @media #{$desktop} {
		flex: 0 0 50%;
	}

  li {
    a {
      line-height: 1.5em;
      svg {
        flex-shrink: 0
      }
    }
  }
}

// _sass/tutorials.scss
.tutorial-content {
  img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(#000000, 0.25);
  }
}
